{
  "users": [
    {
      "id": "XIa_H8p",
      "email": "ironman@avengers.org",
      "firstName": "Tony",
      "lastName": "Stark"
    },
    {
      "id": "_D4pvBw",
      "email": "captain@avengers.org",
      "firstName": "Steve",
      "lastName": "Rogers"
    },
    {
      "id": "FeZwhwE",
      "email": "hulk@avengers.org",
      "firstName": "Bruce",
      "lastName": "Banner"
    }
  ]
}
