{% extends 'base.html.twig' %}

{% block body %}
    <div class="container">
        <button class="btn-action btn-create-post" onclick="alert('I get called from a button!')">
            Create a new post
        </button>
        <div class="blog-posts">
            {% for post in posts %}
                <div id="post-{{ post.id }}" class="post">
                    <div class="title">
                        <h1>{{ post.title }}</h1>
                    </div>
                    <div class="content">
                        <p>{{ post.content }}</p>
                    </div>
                </div>
            {% endfor %}
        </div>
    </div>
{% endblock %}
