
###> symfony/framework-bundle ###
.env
/var/
/vendor/
###< symfony/framework-bundle ###

###> behat/symfony2-extension ###
behat.yml
###< behat/symfony2-extension ###

composer.lock
docker-compose.yml
