
###> symfony/framework-bundle ###
.env
/var/
/vendor/
###< symfony/framework-bundle ###

###> behat/symfony2-extension ###
behat.yml
###< behat/symfony2-extension ###

/cache
/node_modules
/public/build
composer.lock
docker-compose.yml
phpspec.yml
yarn.lock
