version: '2'

services:
  nginx:
    image: nginx
    ports:
      - 8080:80
    volumes:
      - ./public:/usr/share/nginx/html:ro

  node:
    image: node:8
    user: node
    volumes:
      - .:/home/node/app
      - ~/.npm:/home/node/.npm
      - ~/.cache/yarn:/home/node/.cache/yarn
      - ~/.config/yarn:/home/node/.config/yarn
    working_dir: /home/node/app
