version: '3'

services:
    nginx-back:
        ports:
            - '8000:80'

    php:
        environment:
            XDEBUG_ENABLED: 0
        ports:
            - '8000:8000'

    mysql:
        ports:
            - '33006:3306'
