version: '3'

services:
    nginx-back:
        ports:
            - '8000:80'
#         networks:
#             - 'front_app-skeleton'

    fpm:
        environment:
            BEHAT_PARAMS: '{"extensions" : {"Behat\\MinkExtension" : {"base_url" : "http://nginx-back"}}}'
            COMPOSER_CACHE_DIR: '/home/docker/.cache/composer'
            COMPOSER_HOME: '/home/docker/.config/composer'
            PHP_XDEBUG_ENABLED: 0
#         networks:
#             - 'front_app-skeleton'

    mysql:
        ports:
            - '33006:33006'
#         networks:
#             - 'front_app-skeleton'

# Use the networks only when front run on Docker too
# networks:
#     front_app-skeleton:
#         external: true
