version: '3'

services:
    nginx-back:
        ports:
            - '8000:80'
#        networks:
#            - 'front_app-skeleton'

    php:
        environment:
            PHP_XDEBUG_ENABLED: 0
        ports:
            - '8000:8000'
#        networks:
#            - 'front_app-skeleton'

    mysql:
        ports:
            - '33006:3306'
#        networks:
#            - 'front_app-skeleton'

# Use the networks only when front run on Docker too
# networks:
#     front_app-skeleton:
#         external: true
