# There are 3 possible default configurations, choose the one you need and copy it in "config/api.json"

# This one is to be used with a full Docker installation
{
  "api_config": {
    "protocol": "http",
    "host": "nginx-back",
    "port": 80
  }
}

# This one is to be used with Docker running only the back-end
{
  "api_config": {
    "protocol": "http",
    "host": "localhost",
    "port": 8000
  }
}

# This one is to be used with the development JSON server
{
  "api_config": {
    "protocol": "http",
    "host": "localhost",
    "port": 3000
  }
}
