@font-face {
  font-family: 'MyHackFont';
  src:
    url('../fonts/Hack-Regular.woff2') format('woff2'),
    url('../fonts/Hack-Regular.woff') format('woff');
  font-weight: 600;
  font-style: normal;
}

body {
  height: 480px;
  width: 640px;
}

.hello {
  text-align: center;
  background: url('../images/background.png');
  color: firebrick;
  font-family: 'MyHackFont', sans-serif;
}

button {
  position: relative;
  bottom: 280px;
}
