{
  "users": [
    {
      "id": "XIa_H8p",
      "firstName": "Tony",
      "lastName": "Stark",
      "username": "ironman",
      "password": "password",
      "salt": "salt",
      "roles": []
    },
    {
      "id": "_D4pvBw",
      "firstName": "Steve",
      "lastName": "Rogers",
      "username": "captain",
      "password": "password",
      "salt": "salt",
      "roles": []
    },
    {
      "id": "FeZwhwE",
      "firstName": "Bruce",
      "lastName": "Banner",
      "username": "hulk",
      "password": "password",
      "salt": "salt",
      "roles": []
    }
  ]
}
