/tests/results/
!/tests/results/acceptance/
!/tests/results/e2e/
/tests/results/acceptance/*
/tests/results/e2e/*
!/tests/results/acceptance/.gitkeep
!/tests/results/e2e/.gitkeep

###> symfony/framework-bundle ###
/.env.local
/.env.local.php
/.env.*.local
/public/bundles/
/var/
/vendor/
###< symfony/framework-bundle ###

###> friendsofphp/php-cs-fixer ###
/.php_cs
/.php_cs.cache
###< friendsofphp/php-cs-fixer ###

###> symfony/web-server-bundle ###
/.web-server-pid
###< symfony/web-server-bundle ###

###> friends-of-behat/symfony-extension ###
/behat.yml
###< friends-of-behat/symfony-extension ###

###> phpunit/phpunit ###
#/phpunit.xml
.phpunit.result.cache
###< phpunit/phpunit ###
